.swiper {
  margin-bottom: 50px;
}

.swiperSlide {
  display: flex;
  justify-content: center;
}

.courses__swiper-container .swiper-button-prev,
.swiper-button-next {
  top: auto !important;
  bottom: 0px !important;
}

.courses__swiper-container .swiper-button-prev {
  left: 45% !important;
}

.courses__swiper-container .swiper-button-next {
  right: 45% !important;
}

@media screen and (max-width: 900px) {
  .swiper-button-prev {
    left: 35% !important;
    /* transform: translateX(-50%); */
  }

  .swiper-button-next {
    right: 35% !important;
    /* transform: translateX(-50%); */
  }

}